<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
    <httpModules>
    </httpModules>
    <compilation debug="true" targetFramework="4.0" />
     <customErrors mode="RemoteOnly" defaultRedirect="/error404.html">
      <error statusCode="404" redirect="/error404.html" />
    </customErrors>


      <authorization>
      <allow users="*" />
    </authorization>
    <identity impersonate="false" />
  
  </system.web>
 
    <system.net>
        <mailSettings>
            <smtp from="Insert Your Email Address Here">
                <network host="smtp.gmail.com" />
            </smtp>
        </mailSettings>
    </system.net>
  
<system.webServer>
   
    <httpErrors errorMode="Custom">
        <remove statusCode="404" subStatusCode="-1" />
        <error statusCode="404" path="/error404.html" responseMode="ExecuteURL" />
    </httpErrors>
<defaultDocument> 
                <files> 
                    <add value="index.aspx" /> 
                </files> 
            </defaultDocument> 
  <staticContent>
<mimeMap fileExtension="." mimeType="text/xml" />
    <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
  </staticContent>
<httpCompression>
    <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
    <dynamicTypes>
      <add mimeType="text/*" enabled="true" />
      <add mimeType="message/*" enabled="true" />
      <add mimeType="application/javascript" enabled="true" />
      <add mimeType="*/*" enabled="false" />
    </dynamicTypes>
    <staticTypes>
      <add mimeType="text/*" enabled="true" />
      <add mimeType="message/*" enabled="true" />
      <add mimeType="application/javascript" enabled="true" />
      <add mimeType="*/*" enabled="false" />
    </staticTypes>
  </httpCompression>
  <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true" /> 
</system.webServer></configuration>